{namespace bf=SUDHAUS7\Sudhaus7Viewhelpers\ViewHelpers}
<html
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en"
        f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
        data-namespace-typo3-fluid="true"
>
<f:if condition="{record.txSudhaus7newspageShowdate} == 1">
    <f:if condition="{record.txSudhaus7newspageTo} > 0">
        <f:then>
            <bf:date format="d.m." respectlocale="1" date="{record.txSudhaus7newspageFrom}" length="short"/>
            bis
            <bf:date format="LOCALEDATE" respectlocale="1" date="{record.txSudhaus7newspageTo}" length="short"/>,

        </f:then>
        <f:else>
            <bf:date format="LOCALEDATE" respectlocale="1" date="{record.txSudhaus7newspageFrom}" length="short"/>,
        </f:else>
    </f:if>
</f:if>
{record.subheader}
</html>