{namespace cal=SUDHAUS7\Sudhaus7Newspage\ViewHelpers}
<html
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en"
        f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
        data-namespace-typo3-fluid="true"
>
<div id="projects" class="clear">
    <form class="project-select">
        <ul class="select-cont">
            <li class="project-first"><f:link.action  arguments="{page: 0}">Bitte auswählen</f:link.action></a></li>
            <f:for each="{cal:dropdown()}" as="cal">
                <li><f:link.action  arguments="{month: cal.month,page: 0}">{cal.label}</f:link.action></li>
            </f:for>
        </ul>
    </form>
</div>
</html>