{namespace bf=SUDHAUS7\Sudhaus7Viewhelpers\ViewHelpers}
<f:if condition="{record.tx_sudhaus7newspage_type} == 1">
    <bf:date format="LOCALEDATE" respectlocale="1" date="{record.tx_sudhaus7newspage_from}" length="short"/> - {record.header}

</f:if>
<f:if condition="{record.tx_sudhaus7newspage_type} == 2">
    {record.header}<br/>
    <bf:date format="LOCALEDATE" respectlocale="1" date="{record.tx_sudhaus7newspage_from}"  length="short"/> - <bf:date format="LOCALEDATE" respectlocale="1" date="{record.tx_sudhaus7newspage_to}"  length="short"/>
    (<bf:date format="LOCALETIME" respectlocale="1" date="{record.tx_sudhaus7newspage_from}"/> - <bf:date format="LOCALETIME" respectlocale="1" date="{record.tx_sudhaus7newspage_to}"/>)
</f:if>
