{namespace bf=SUDHAUS7\Sudhaus7Viewhelpers\ViewHelpers}
<html
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en"
        f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
        data-namespace-typo3-fluid="true"
>
<f:if condition="{record.tx_sudhaus7newspage_type} == 1">
    <f:format.date format="%x" date="{record.tx_sudhaus7newspage_from}" /> - {record.header}

</f:if>
<f:if condition="{record.tx_sudhaus7newspage_type} == 2">
    {record.header}<br/>
    <f:format.date format="%x" date="{record.tx_sudhaus7newspage_from}" /> - <f:format.date format="%x" date="{record.tx_sudhaus7newspage_to}" />
    (<f:format.date format="%c" date="{record.tx_sudhaus7newspage_from}"/> - <f:format.date format="%c" date="{record.tx_sudhaus7newspage_to}"/>)
</f:if>
</html>